@font-face{
      font-family: "PressStart";
      src: url("../fonts/PressStart2P-Regular.ttf");
      font-style: normal; 
      font-weight: normal;
    }
      body{
        background: url(../img/background-coffee-beans-and-cups.jpg);
      }
      .container.rounded{
        background: rgb(139, 69, 19, .5);
      }
      .coffe-btn-group{
        width:90%;
        height:60px;
        background:#BC8F8F;
        border-radius: 30px 0 0 30px;
        font-size:2em;
        font-weight:600;
        color:Gold;
        font-family: 'Caveat', cursive;
        border:1px solid #F5DEB3	;
      }
      .coffee-btn{
        width:60px;
        height:60px;
        background:Brown;
        cursor:pointer;
        border:2px solid #AF5A5A;
        box-shadow: 1px 1px 5px black;
      }
      .coffee-btn:hover{
        background:#800000;
      }
      .coffee-btn:active{
        background:red;
        box-shadow: inset 0 0 10px black;
      }
      #display{
        width:100%;
        height:150px;
        background:navy;
        color:white;
        border: 5px groove DarkSlateGrey;
        font-family: "PressStart";
        font-size:0.8em;
      }
      #change_box{
        position:relative;
        width:95%;
        height:200px;
        border:4px solid #A52A2A	;
        background:#DB7093;
      }
      img[src$='rub.png']{
        width:60px;
        cursor:pointer;
        position:absolute;
        top:0;
        left:0;
      }
      img[src$='rub.png']:hover{
        filter: contrast(150%);
      }
      img[src$='rub.jpg']:hover{
        cursor:pointer;
        filter: contrast(150%);
      }
      #coffe_mug:hover{
        cursor:pointer;
        filter: contrast(150%);
      }
      #blocker{
        top:0;
        position:absolute;
        width:100%;
        z-index:100;
      }